<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>analytics-key</key>
	<string>fee11fc35d54faeb7f0acec6e19b21f2f2a48d24ea2a701b8249086a6c7f6752611915bdc457fb7bc47c1748c870da0349b802a59502d4e482a410d45a0164da</string>
	<key>analytics-host</key>
	<string>192.168.178.38</string>
	<key>analytics-port</key>
	<integer>8080</integer>
</dict>
</plist>
