<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>779042888663-5v86ph6fkehapi0duq3foljm79tc973m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.779042888663-5v86ph6fkehapi0duq3foljm79tc973m</string>
	<key>API_KEY</key>
	<string>AIzaSyAMcGdc4yjftKTUrBlXhQRYF3MvvokHT88</string>
	<key>GCM_SENDER_ID</key>
	<string>779042888663</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.noahkamara.ABJC</string>
	<key>PROJECT_ID</key>
	<string>abjc-analytics</string>
	<key>STORAGE_BUCKET</key>
	<string>abjc-analytics.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:779042888663:ios:af9a008067f94994148992</string>
</dict>
</plist>